* {
    box-sizing: border-box;

}

.poppins-thin {
    font-family: "Poppins", sans-serif;

   
  }
  

  


body {
    margin: 0;
    padding: 0;
}

/* grid view style */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


/* nav bar sectiob */
.nav-bar {
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;




}


.nav-bar .left {
    height: 100%;
    /* border: 4px solid red; */
    float: left;
    background-color: white;
}

.nav-bar .left img {
    padding: 10px 40px;
}

.nav-bar .center {
    height: 100%;
    /* border: 4px solid green; */

    background-color: white;
    float: left;
}

/* .nav-center-div {
    height: 100%;
    border: 4px solid orangered;
    float: left;
} */
.nav-center-div ul li {
    float: left;
    width: 12.5%;
    /* border: 4px solid black; */
    font-size: 15px;
    font-weight: bolder;
    padding: 15px 2px;
    list-style: none;
}

.nav-bar .right {
    height: 100%;
    /* border: 4px solid purple; */

    background-color: white;
    float: left;
}

.nav-bar .right .fa-search {
    padding: 20px 60px;
    font-size: 20px;
    /* float: right; */

}

.nav-bar .right .fa-bars {

    display: none;
}



/* banner section */
.banner {
    height: 800px;
    /* border: 4px solid red; */
    background-image: url("https://www.babcock.edu.ng/storage/media/aHqGnwvfNYjQdFsfimr8a1zmb4r1Fm-metaTWFnICgzKS5qcGc=-.jpg");
    background-position: center;
    background-size: cover;
    ;
    margin-bottom: 20px;
}

.banner .write-up {
    /* border: 4px solid green; */
    height: 100%;
    width: 80%;
    padding: 5% 10%;
    margin-top: 100px;
}

.banner .write-up h1 {
    color: white;
    font-size: 70px;
}

.banner .write-up p {
    color: white;
    font-size: 20px;
}



/* First section style */
.first-section .write-up {
    text-align: center;
    padding: 40px 0;
}

.first-section .write-up p {
    font-size: 18px;
}

.first-section-container {
    height: 500px;
    /* border: 4px solid green; */
    padding: 0 10%;
    margin-bottom: 20px;
}

.first-section-container .child {
    height: 100%;
    /* background-color: blue; */

}

.first-section-box1 {
    height: 100%;
    /* border: 4px solid red; */
    padding: 0 15px;
    float: left;
}

.first-section-box1 .child {
    height: 100%;
    /* background-color: yellow; */

}

.first-section-box-header {
    height: 60%;
}

.first-section-box-header img {
    height: 100%;

}

.first-section-box-content {
    height: 40%;
}

.first-section-write-up {
    padding: 0 10px;
}

.first-section-write-up h3 {
    color: blue;
}

.first-section-write-up p {
    color: gray;
}

.first-section-write-up .learnMore {
    color: blue;
}

.first-section-box2 {
    height: 100%;
    /* border: 4px solid purple; */
    padding: 0 15px;
    float: left;
}

.first-section-box2 .child {
    height: 100%;
    /* background-color: red; */

}

.first-section-box3 {
    height: 100%;
    /* border: 4px solid black; */
    padding: 0 15px;
    float: left;
}

.first-section-box3 .child {
    height: 100%;
    /* background-color: dodgerblue; */

}

/* Second section style */
.second-section {
    height: 700px;
    /* border: 4px solid green; */
    background-color: rgb(233, 236, 239);
    padding: 0 10%;
    margin-bottom: 20px;
    clear: both;
}

.second-section .child {
    height: 100%;

    /* border: 4px solid green; */
    padding: 0 20px;

}

.second-section .child .second-box1 {
    height: 100%;
    /* border: 4px solid red; */
    float: left;
}

.second-section .child .second-box1 .top {
    height: 30%;
    /* border: 4px solid purple; */
    padding: 20px 20px;
}

.second-section .child .second-box1 .top h1,
p {
    margin: 0;
    padding: 0;
}

.second-section .child .second-box1 .bottom {
    height: 70%;
    /* border: 4px solid yellow; */
}

.second-section .child .second-box1 .bottom .body {
    height: 40%;
    /* border: 4px solid red; */
}

.second-section .child .second-box1 .bottom .body img {
    height: 100%;
}

.second-section .child .second-box1 .bottom .content {
    height: 60%;
    /* border: 4px solid purple; */
    background-color: rgb(255, 255, 255);
    padding: 0 20px;
}


.second-section .child .second-box2 {
    height: 100%;
    /* border: 4px solid red; */
    float: left;
}

.second-section .child .second-box2 .child {
    height: 100%;
    /* background-color: black; */
    padding: 0 20px;
}

.second-section .child .second-box2 .top {
    height: 30%;
    /* border: 4px solid purple; */
}

.second-section .child .second-box2 .bottom {
    height: 70%;
    /* border: 4px solid yellow; */
}

.second-section .child .second-box2 .bottom .body {
    height: 40%;
    /* border: 4px solid red; */
}

.second-section .child .second-box2 .bottom .body img {
    height: 100%;
}

.second-section .child .second-box2 .bottom .content {
    height: 60%;
    /* border: 4px solid purple; */
    background-color: rgb(255, 255, 255);
    padding: 0 20px;
}

.second-section .child .second-box3 {
    height: 100%;
    /* border: 4px solid red; */

    float: left;
}

.second-section .child .second-box3 .child {
    height: 100%;
    /* background-color: black; */
    padding: 0 20px;
}

.second-section .child .second-box3 .top {
    height: 70%;
    /* border: 4px solid gold; */
    /* border-bottom: 4px solid gold; */
    background-color: rgb(255, 255, 255);

}

.second-section .child .second-box3 .top img {
    height: 90%;
}

.second-section .child .second-box3 .bottom {
    height: 30%;
    /* border: 4px solid purple; */
    background-color: rgb(255, 255, 255);
    padding: 0 20px;
}

/* Drop down div */

.nav-dropdown-div {
    display: none;
}





/* Max width of 1500px Style */

@media only screen and (max-width: 1500px) {

    * {
        box-sizing: border-box;
    }


    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }

    .nav-bar {
        height: 90px;

        margin-bottom: 180px;
    }

    .nav-bar .left img {
        display: block;
        margin: auto;
    }

    .nav-bar .right .fa-search {
        display: block;
        text-align: center;

    }

    .nav-bar .right .fa-bars {
        display: none;
    }

    .banner .write-up {
        margin-top: 300px;
    }

}


/* Max width of 800px Style */
@media only screen and (max-width: 800px) {
    * {
        box-sizing: border-box;
    }


    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }

    .nav-bar {
        height: 90px;
        margin-bottom: 0;
    }



    .center {

        display: none;

    }

    .nav-bar .right .fa-bars {
        display: block;
    }

    .nav-bar .right .fa-search {
        padding: 30px 30px;
        float: right;
        font-size: 20px;
        /* float: right; */

    }

    .nav-bar .right .fa-bars {
        padding: 30px 30px;
        float: right;
        font-size: 25px;

    }

    .banner {
        height: 800px;
        /* border: 4px solid red; */
        background-image: url("https://www.babcock.edu.ng/storage/media/aHqGnwvfNYjQdFsfimr8a1zmb4r1Fm-metaTWFnICgzKS5qcGc=-.jpg");
        background-position: center;
        background-size: cover;
    }

    .banner .write-up {
        height: 100%;
        width: 50%;
        padding: 5% 5px;
        margin-top: 100px;
    }

    .second-section {

        padding: 0;
    }

    /* .second-section .child{
        background-color: rgb(233, 236, 239);
       
    } */
    .second-section .child .second-box2 .top {
        display: none;
    }

    .second-section .child .second-box2 .bottom {
        height: 100%;
    }


    body {
        background-color: rgb(233, 236, 239);
    }

    .first-section-box1,
    .first-section-box2,
    .first-section-box3 {
        background-color: white;
        margin-bottom: 50px;
    }

    .second-section .child .second-box1 .top {
        height: 30%;
        padding: 20px 20px;
        text-align: center;
    }

    .second-section .child .second-box1,
    .second-section .child .second-box2,
    .second-section .child .second-box3 {
        margin-bottom: 50px;
    }


    .banner .write-up p {
        color: rgb(202, 255, 202);
        /* background-color:  #9b9292; */
        font-weight: bolder;
     text-align: center;
        font-size: 26px;
    }

    .nav-dropdown-div{
        display: none;
        height: 100vh;
        position: fixed;
        top: 90px;
        left:0;
        right: 0;
        text-align: center;
        background-color: black;
        color: white;
        z-index: 20;
    }

    .nav-dropdown-div ul li{
        height: 70px;
   
        font-size: 25px;
        list-style: none;
    }
    .nav-dropdown-div ul li:hover{
        background-color: white;
       
        color: black;
    }

  


}