* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* grid view style */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


/* nav bar sectiob */
.nav-bar {
    height: 90px;


}


.nav-bar .left {
    height: 100%;
    /* border: 4px solid red; */
    float: left;
    background-color: #ccc;
}

.nav-bar .left img {
    padding: 10px 40px;
}

.nav-bar .center {
    height: 100%;
    /* border: 4px solid green; */
    background-color: #ccc;
    float: left;
}

/* .nav-center-div {
    height: 100%;
    border: 4px solid orangered;
    float: left;
} */
.nav-center-div ul li {
    float: left;
    width: 12.5%;
    /* border: 4px solid black; */
    font-size: 18px;
    font-weight: bolder;
    padding: 3px 2px;
    list-style: none;
}

.nav-bar .right {
    height: 100%;
    /* border: 4px solid purple; */
    background-color: #ccc;
    float: left;
}

.nav-bar .right .fa-search {
    padding: 20px 60px;
    font-size: 20px;
    /* float: right; */

}

.nav-bar .right .fa-bars {

    display: none;
}




/* banner section */
.banner {
    height: 800px;
    /* border: 4px solid red; */
    background-image: url("https://www.babcock.edu.ng/storage/media/aHqGnwvfNYjQdFsfimr8a1zmb4r1Fm-metaTWFnICgzKS5qcGc=-.jpg");
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 1500px) {

    * {
        box-sizing: border-box;
    }


    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }

    .nav-bar {
        height: 90px;

        margin-bottom: 180px;
    }

    .nav-bar .left img {
        display: block;
        margin: auto;
    }

    .nav-bar .right .fa-search {
        display: block;
        text-align: center;
     
    }
    .nav-bar .right .fa-bars{
        display: none;
    }


}

@media only screen and (max-width: 1000px) {
    * {
        box-sizing: border-box;
    }


    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
    .nav-bar {
        height: 90px;
        margin-bottom: 0;
    }

    .center{
        display: none;
    }
    .nav-bar .right .fa-bars{
        display: block;
    }
    .nav-bar .right .fa-search {
        padding: 30px 30px;
        float: right;
        font-size: 20px;
        /* float: right; */
    
    }
    
    .nav-bar .right .fa-bars {
        padding: 30px 30px;
        float: right;
        
    }
}