* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* Grid View Styling */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* Navbar Styling */

.nav-bar-section {
    height: 90px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    /* border: 4px solid green; */
}

.nav-bar-section-left,
.nav-bar-section-center,
.nav-bar-section-right {
    float: left;
    height: 100%;
    /* border: 4px solid yellow; */
}

/* .nav-bar-section-center {
    border: 4px solid purple;
} */

.nav-bar-section-left-write-up h1 {
    color: rgb(255, 68, 79);
    padding: 0 180px;
}

.nav-bar-section-left-write-up,
.nav-bar-section-right-write-up {
    /* border: 4px solid red; */
    height: 100%;
    padding: 15px 0;
}

.nav-item {
    padding: 25px 0;
}

.nav-item ul {
    margin: 0;
    padding: 0;
}


.nav-item ul li {
    float: left;
    width: 120px;
    list-style: none;
}



.nav-bar-section-right-write-up button {
    height: 50px;
    border: none;
    background-color: rgb(255, 68, 79);
    color: white;
    font-size: 15px;
    font-weight: bolder;
    padding: 0 20px;
    border-radius: 15px;
    float: left;

}

.nav-bar-section-right-write-up-first-btn {
    height: 100%;
    /* border: 4px solid dodgerblue;  */
    padding: 0 5px;
    float: left;
}

.nav-bar-section-right-write-up-second-btn {
    height: 100%;
    /* border: 4px solid orangered; */
    padding: 0 5px;
    float: left;
}

.nav-bar-section-right-write-up p {
    float: left;
    /* border: 4px solid green; */
    padding: 15px 0;
}

/* Drop down nav */
.trade-container {
    position: fixed;
    left: 0;
    top: 40px;
    width: 100%;
    height: 80vh;
    /* border: 4px solid green; */
    padding: 46px 0 0 0;
    display: none;
}

.nav-bar-trade:hover .trade-container {
    display: block;
}

.trade-container-child {
    height: 100%;
    background-color: #ccc;
    box-shadow: -2px 10px 20px -6px rgba(255, 68, 79, 1);
    -webkit-box-shadow: -2px 10px 20px -6px rgba(255, 68, 79, 1);
    -moz-box-shadow: -2px 10px 20px -6px rgba(255, 68, 79, 1);
    padding: 2% 10%;
    animation-name: navbarDropDown;
    animation-duration: 0.4s;
    position: relative;
}

.trade-container-DIVs {
    float: left;

}

.trade-container-DIVs-heading {
    height: 10%;
    /* border: 4px solid red; */
}

.trade-container-DIVs-top,
.trade-container-DIVs-center,
.trade-container-DIVs-bottom {
    height: 30%;
    /* border: 4px solid red; */


}

.trade-container-DIVs-top h2,
p,
.trade-container-DIVs-center h2,
p,
.trade-container-DIVs-bottom h2,
p {
    text-align: left;
    padding: 30px 0;
    margin: 0;

}

.nav-market-container {
    position: fixed;
    left: 0;
    top: 40px;
    width: 100%;
    height: 70vh;
    /* border: 4px solid green; */
    padding: 46px 0 0 0;
    display: none;




}

.nav-bar-market:hover .nav-market-container {
    display: block;
}

.nav-market-container-child {
    height: 100%;
    background-color: #ccc;
    box-shadow: -2px 10px 20px -6px rgba(255, 68, 79, 1);
    -webkit-box-shadow: -2px 10px 20px -6px rgba(255, 68, 79, 1);
    -moz-box-shadow: -2px 10px 20px -6px rgba(255, 68, 79, 1);
    padding: 2% 10%;
    animation-name: navbarDropDown;
    animation-duration: 0.4s;
    position: relative;

}

.Nav-bar-aboutUS-container {
    position: fixed;
    left: 0;
    top: 40px;
    width: 100%;
    height: 50vh;
    /* border: 4px solid green; */
    padding: 46px 0 0 0;
    display: none;

}

.Nav-bar-aboutUS-container-child {
    height: 100%;
    background-color: #ccc;
    box-shadow: -2px 10px 20px -6px rgba(255, 68, 79, 1);
    -webkit-box-shadow: -2px 10px 20px -6px rgba(255, 68, 79, 1);
    -moz-box-shadow: -2px 10px 20px -6px rgba(255, 68, 79, 1);
    padding: 2% 10%;
    animation-name: navbarDropDown;
    animation-duration: 0.4s;
    position: relative;
}

.Nav-bar-aboutUS:hover .Nav-bar-aboutUS-container {
    display: block;
}

.Nav-bar-Resources-container {
    position: fixed;
    left: 0;
    top: 40px;
    width: 100%;
    height: 50vh;
    /* border: 4px solid green; */
    padding: 46px 0 0 0;
    display: none;

}

.Nav-bar-Resources-container-child {
    height: 100%;
    background-color: #ccc;
    box-shadow: -2px 10px 20px -6px rgba(255, 68, 79, 1);
    -webkit-box-shadow: -2px 10px 20px -6px rgba(255, 68, 79, 1);
    -moz-box-shadow: -2px 10px 20px -6px rgba(255, 68, 79, 1);
    padding: 2% 10%;
    animation-name: navbarDropDown;
    animation-duration: 0.4s;
    position: relative;
}

.Nav-bar-Resources:hover .Nav-bar-Resources-container {
    display: block;
}

/* Animation Styles */
@keyframes navbarDropDown {
    10% {
        top: -90px;
        background-color: rgb(67, 65, 65);
    }

    30% {
        height: 50vh;
    }

    40% {
        height: 60vh;
    }

    60% {
        height: 80vh;
    }

    100% {
        top: 0px;

        background-color: #ccc;
    }

}

@keyframes BannerrBg {
    0% {
        background-image: url('images/ai-generated-8491316_1920.png');
    }
    10% {
        background-image: url('images/ai-generated-8491316_1920.png');
    }

    20% {
        background-image: url('images/chart-1905224_1920.jpg');
    }

    30% {
        background-image: url('images/stock-trading-6525083_1920.jpg');
    }

    50% {
        background-image: url('images/entrepreneur-2411763_1920.jpg');

    }

    100% {
        background-image: url('images/stock-1863880_1920.jpg');
    }
}


/* Banner Styling */

.banner-section {
    margin-top: 90px;
    height: 600px;
    /* border: 4px solid green; */
    background-image: url('images/ai-generated-8491316_1920.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: BannerrBg;
    animation-duration: 9s;
    animation-iteration-count: infinite;

}

.banner-section::before {
    content: "";
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.9));
    width: 100%;
    height: 600px;
    position: absolute;
    /* display: block; */
}

.banner-section-write-up {
    /* border: 4px solid red; */
    height: 100%;
    color: white;
    padding: 0 10%;
    position: relative;

}

.banner-section-write-up h1 {
    font-size: 80px;
    padding-top: 10%;

}

.banner-section-write-up p {
    font-size: 18px;
    padding-top: 2%;
    padding-bottom: 6%;
    font-weight: bolder;



}

.banner-section-write-up button {
    height: 50px;
    border: none;
    background-color: rgb(255, 68, 79);
    color: white;
    font-size: 15px;
    font-weight: bolder;
    padding: 0 20px;
    border-radius: 15px;

}

/* Mini Banner Style */
.mini-banner-section {
    height: 120px;
    /* border: 4px solid red; */
    background-color: #ccc;
    padding: 0 10%;
    margin-bottom: 50px;
}

.mini-banner-section-DIVS {
    height: 100%;
    /* border: 4px solid green; */
    float: left;
    text-align: center;
    padding: 2% 0;
}

.mini-banner-section-DIVS h1 {
    font-size: 25px;

}

/* Second Section Styling */
.second-section-h2 {
    text-align: center;
    font-size: 50px;
    padding: 30px 0;
}

.second-section {
    height: 400px;
    /* border: 4px solid green; */
    padding: 0 10%;
    margin-bottom: 80px;
}

.second-section-DIVS {
    float: left;
    height: 100%;
    /* border: 4px solid red; */
    padding: 0 10px;

}

.second-section-DIVS-child {
    height: 100%;
    background-color: #ccc;
    border-radius: 25px;
}

.second-section-DIVS-child-top {
    height: 60%;
    /* border: 4px solid red; */
}

.second-section-DIVS-child-top img {
    width: 50%;
    display: block;
    margin: auto;
    padding: 10px 0;
}

.second-section-DIVS-child-bottom {
    height: 40%;
    /* border: 4px solid green; */
    text-align: center;
    padding: 0 20px;

}

.menu-icon {
    display: none;
}

/* Third Section Style */
.third-section-container {
    height: 700px;
    /* border: 4px solid green; */
    background-color: #ccc;
    padding: 50px 10%;
}

.third-section-container-top {
    height: 20%;
    text-align: center;
    padding: 0 20%;
    /* border: 4px solid red; */
}

.third-section-container-top h1 {
    font-size: 50px;
}

.third-section-container-center-tithle {
    height: 10%;
    padding: 60px 20%;
    /* border: 4px solid dodgerblue; */
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;


}

.third-section-container-center-tithle li {
    padding: 10px 0;
}

.third-section-container-center-tithle ul li {
    display: inline-block;
    width: 120px;
    text-align: center;

    list-style: none;
    border-bottom: 2px solid rgb(179, 171, 171);

}

.third-section-container-center-tithle ul li:hover {
    border-bottom: 2px solid black;
}

.third-section-container-center {
    height: 50%;
    padding: 10px 0;
    /* border: 4px solid yellow; */
}

.third-section-container-bottom {
    height: 20%;
    padding: 20px 0;
    text-align: center;
    /* border: 4px solid purple; */
}

.third-section-container-center-Divs {
    height: 100%;
    /* border: 4px solid red; */
    padding: 0 10px;
    float: left;
}

.third-section-container-center-Divs-child {
    height: 100%;
    background-color: white;
    border-radius: 25px;
}

.third-section-container-center-Divs-child-top,
.third-section-container-center-Divs-child-center,
.third-section-container-center-Divs-child-bottom {
    height: 33.3%;
}

.third-section-container-center-Divs-child-top-write-up p {
    float: left;
    text-align: center;
    padding: 20px 0;
}

.third-section-container-center-Divs-child-center-left,
.third-section-container-center-Divs-child-center-right {
    float: left;
}

.third-section-container-center-Divs-child-center-left p,
h2,
.third-section-container-center-Divs-child-center-right p,
h2 {
    text-align: center;
    padding: 10px;
}

.third-section-container-center-Divs-child-bottom-btn-left,
.third-section-container-center-Divs-child-bottom-btn-right {
    float: left;
    padding: 20px 10%;
}

.third-section-container-center-Divs-child-bottom-btn-left button,
.third-section-container-center-Divs-child-bottom-btn-right button {
    height: 40px;
    border: none;
    width: 100%;
    background-color: white;
    border: 2px solid green;
    border-radius: 12px;
    font-weight: bolder;
    color: green;
}

/* Changed third section center with JS */

/* Fourth container style */
.fourth-container {
    height: 300px;
    /* border: 4px solid red; */
    padding: 0 10%;

}

.fourth-container-DIVS {
    float: left;
    height: 100%;
    /* border: 4px solid green; */
    padding: 10px 10px;
}

.fourth-container-DIVS-child {
    height: 100%;
    background-color: #ccc;
    border-radius: 15px;
}

.fourth-container-heading {
    height: 200px;
    /* border: 4px solid green; */
}

.fourth-container-heading h1 {
    text-align: center;
    font-size: 50px;
    padding: 20px 25%;
}

.fourth-container-nav {
    height: 50px;
    /* border: 4px solid red; */
    padding: 0 30%;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.fourth-container-nav ul li {
    display: inline-block;
    width: 120px;
    text-align: center;
    list-style: none;
    border-bottom: 2px solid rgb(179, 171, 171);
}

.fourth-container-nav ul li:hover {
    border-bottom: 2px solid black;
}

.fourth-container-DIVS-child-top,
.fourth-container-DIVS-child-center,
.fourth-container-DIVS-child-bottom {
    height: 33.3%;
    /* border: 4px solid green; */
    padding: 20px 10%;
}

.fourth-container-DIVS-child-center h2 {
    text-align: left;
    margin: 0;
    padding: 0;
}

.fourth-container-DIVS-child-bottom {
    padding: 20px 10%;
}

/* Fifth Style */
.fifth-container {
    height: 400px;
    /* border: 4px solid green; */
    padding: 0 10%;
    margin-bottom: 100px;
}

.fifth-container-DIVs {
    float: left;
    height: 100%;
    /* border: 4px solid red; */
    padding: 20px 10px;
}

.fifth-container-DIVs-child {
    height: 100%;
    background-color: #ccc;
    border-radius: 15px;
}

.fifth-container-heading {
    /* border: 4px solid red; */
    padding: 20px 25%;

}

.fifth-container-heading h1 {
    text-align: center;
    font-size: 50px;
}

.fifth-container-DIVs-child-top,
.fifth-container-DIVs-child-center,
.fifth-container-DIVs-child-bottom {
    height: 33.3%;
    /* border: 4px solid green; */
    padding: 0 10%;

}

.fifth-container-DIVs-child-center h2,
p {
    text-align: left;
    margin: 0;
    padding: 5px 0;
}

.fifth-container-DIVs-child-top .fa-solid {
    font-size: 50px;
    padding: 20px 0;
}




@media only screen and (max-width: 1300px) {
    * {
        box-sizing: border-box;
    }

    third-section-container-center-Divs-child-center .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }


    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }

    .nav-bar-section-center {
        display: none;
    }

    .nav-bar-section-right {
        padding: 0 20px;
        /* border: 4px solid red; */
    }

    .nav-bar-section-right-write-up {
        float: right;
    }

    .second-section {
        /* border: 4px solid red; */
        white-space: nowrap;
        overflow-x: auto;
        scrollbar-width: none;

    }


    .second-section-DIVS {

        float: none;
        display: inline-block;

    }

    .second-section-DIVS-child-bottom p {
        /* 
        border: 4px solid red; */
        overflow: auto;
        scrollbar-width: none;
        height: 50%;
        font-size: 25px;
        padding: 20px 0;
    }


    .third-section-container {
        height: 700px;
        /* border: 4px solid green; */
        background-color: #ccc;
        padding: 50px 0;

    }

    .third-section-container-center {
        white-space: nowrap;
        overflow-x: scroll;
        scrollbar-width: none;
        padding: 0 10%;
        /* border: 4px solid yellow; */
    }

    .third-section-container-center-Divs {
        height: 100%;
        /* border: 4px solid red; */
        padding: 0 10px;
        float: none;
        display: inline-block;
    }

    .third-section-container-top h1 {
        font-size: 40px;
    }

    .third-section-container-bottom {
        text-align: center;
        padding: 20px 15%;
    }

    .fourth-container-heading h1 {
        text-align: center;
        font-size: 40px;
        padding: 20px 25%;
    }

    .fifth-container-heading {

        padding: 40px 15%;


    }

    .fifth-container-heading h1 {
        text-align: center;
        font-size: 40px;

    }






}


@media only screen and (max-width: 850px) {
    * {
        box-sizing: border-box;
    }


    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }

    .nav-bar-section-right-write-up-second-btn {
        display: none;
    }

    .nav-bar-section-left-write-up h1 {
        padding: 0 15px;
    }

    .banner-section-write-up h1 {
        font-size: 50px;
        padding-top: 10%;

    }

    .banner-section-write-up p {
        font-size: 18px;
        padding-top: 10%;
        padding-bottom: 10%;




    }

    .banner-section-write-up button {
        font-size: 15px;
        padding: 0 20px;

    }

    .mini-banner-section {
        padding: 0 5%;
        margin-bottom: 50px;
    }

    .mini-banner-section-DIVS {
        padding: 6% 0;
    }

    .mini-banner-section-DIVS h1 {
        font-size: 18px;

    }

    .mini-banner-section-DIVS p {
        font-size: 15px;
    }

    .menu-icon {
        display: block;
    }

    .word-and-en {
        display: none;
    }

    .third-section-container-top h1 {
        font-size: 30px;
    }

    .fourth-container-heading h1 {
        text-align: center;
        font-size: 20px;
        padding: 20px 10%;
    }







}