img{
    width: 80px;
    height: 40px;
    border-radius: 50px;
}


.card{
    width: 450px;
    margin-bottom: 20px;
    background-color: rgb(150, 139, 139);
}

.image-container{
    display: inline-block;
    width: 90px;


}

.heading-container{
    display: inline-block;
    width: 90px;
    

}
button{
    margin-left: 200px;
    
}