* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background-color: rgb(36, 65, 92);
}


.home-main-container {
    height: 100vh;
    /* border: 4px solid red; */
    padding: 5% 0;
}

.home-main-container-box {
    height: 100%;
    /* width: 50%; */
    margin: auto;
    color: white;
    background-color: purple;
    border-radius: 10px;
    padding: 20px 0;
}

.home-main-container-box input, #HmLOGinBtn {
    height: 80px;
    display: block;
    width: 80%;
    border-radius: 10px;
    margin-top: 10px;
    background-color: white;
    font-size: 20px;
}

.home-main-container-box #HmLOGinBtn {
    background-color: rgb(36, 65, 92);
    font-size: 25px;
    color: white;
    font-weight: bolder;
    border: none;
}

#DontHaveAcc {
    margin-top: 20px;
}

#SignUpSpan {
    background-color: white;
    color: purple;
    border-radius: 10px;
    font-size: 20px;
    display: block;
    margin-top: 10px;
    width: 90px;
}

#SignUpDiv {
    display: none;
}


#HmLOGinBtn{
    display: none;
    animation-name: MoveHmLOGinBtn;
    animation-duration: 0.4s;
  
}
a{
    text-decoration: none;
}

@keyframes MoveHmLOGinBtn {

    10% {
        transform: translateY(10px);
        width: 30px;
    }

  
  

    100% {
        transform: translateY(35px);
    }


}



.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.main-container {
    height: 100vh;
    /* border: 4px solid green; */


}


.left-container {
    float: left;
    /* border: 4px solid red; */
    background-color: rgb(36, 65, 92);
    height: 100%;
    padding: 0 50px;
    animation-name: MoveLeftContainer;
    animation-duration: 0.5s;
}

@keyframes MoveLeftContainer {
    10% {
        transform: translateX(50%);
    }


    100% {
        transform: translateX(200%);
    }
}

.left-container-top {
    height: 10%;
    /* border: 4px solid dodgerblue; */
    border-radius: 20px;
    margin-top: 10px;
    background-color: white;
}

.left-container-top-left {
    padding: 0 80px;
}

.left-container-top-left,
.left-container-top-right {
    float: left;
    /* border: 4px solid red; */
    height: 100%;
}

.left-container-top-right p {
    font-size: 50px;
    color: purple;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.left-container-body {
    /* border: 4px solid yellowgreen; */
    height: 90%;
    padding: 50px 0;
    color: white;
}

.left-container-body i {
    font-size: 20px;

}

.left-container-body p {
    font-size: 30px;
    padding: 20px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.right-container {
    float: left;
    /* border: 4px solid yellow; */
    background-color: rgb(36, 65, 92);
    height: 100%;
    padding: 0 50px;
    animation-name: MoveRightContainer;
    animation-duration: 0.5s;
}

@keyframes MoveRightContainer {
    10% {
        transform: translateX(-50%);
    }


    100% {
        transform: translateX(-200%);
    }
}



.fa-sun,
.fa-moon {
    font-size: 40px;
    padding: 15px 15px;
    float: right;
    color: white;

}

.fa-moon {
    color: purple;
}



.right-container-top {
    height: 10%;
    /* border: 4px solid dodgerblue; */
}

/* .right-container button {
    height: 80px;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
  
} */



.right-container .NextBtn,
.PreviousBtn {
    background-color: purple;
    color: white;
    font-size: 25px;
    height: 80px;
    /* border: 4px solid red; */
    border-radius: 30px;
    margin-top: 20px;
    width: 40%;
    border: none;
    float: right;
    margin-left: 10px;


}

.NextBtn:hover {
    border: 4px solid white;

}

.PreviousBtn:hover {
    border: 4px solid white;

}

.btn-div:hover {
    border: 4px solid white;
    border-radius: 10px;
}


.right-container .btn-div {
    height: 80px;
    /* border: 4px solid red; */

    margin-top: 20px;

}

.right-container .btn-div-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-container .btn-div-right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}




.right-container .btn-div-left,
.right-container .btn-div-right {
    /* border: 4px solid green; */
    background-color: rgba(22, 37, 56, 0.52);
    float: left;
    height: 100%;


}

.right-container .btn-div-left {
    padding: 10px 20px;

}

.right-container .btn-div-left .btn-div-left-letters {
    background-color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bolder;

}

.right-container .btn-div-right button {
    height: 100%;
    width: 100%;
    background-color: rgba(22, 37, 56, 0.52);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    text-align: left;
    padding: 0 20px;
    font-size: 20px;
    color: white;
}

@media only screen and (max-width: 1400px) {
    * {
        box-sizing: border-box;
    }


    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }

    .main-container {

        height: 300px;
    }

    .left-container {
        padding: 0 0;
    }

    .left-container-top {
        height: 30%;

    }

    .left-container-top-left {
        padding: 0 0;
    }

    .left-container-top-right p {

        text-align: center;
    }

    .left-container-body {
        padding: 20px 20px;

    }

    .right-container .btn-div-left .btn-div-left-letters {
        background-color: white;
        height: 50px;
        width: 30px;
        text-align: center;
        padding: 15px 0;
        border-radius: 10px;
        font-size: 20px;
        font-weight: bolder;
        color: purple;


    }

    .right-container .btn-div-left {
        padding: 15px 15px;

    }

    .right-container-top {
        display: none;
    }

    .right-container .NextBtn,
    .PreviousBtn {
        font-size: 20px;

    }


}