* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Grid view styling */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}



body {
    background-color: black;
    color: white;
}



.left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    /* border: 4px solid white; */
    float: left;
    padding: 10px 10px;


}

.left .child {
    height: 100%;
    /* border: 4px solid red; */
}

.left .child .div ul {
    margin: 0;
    padding: 0;
}

.left .child .div ul li {
    padding: 20px 10px;
    list-style: none;
}



.center {
    height: 10000px;

    float: left;
    margin-left: 16.6%;
    padding: 10px 10px;
}

.center .child {
    height: 100%;
    /* border: 4px solid green; */
}

.center .child .top {
    height: 150px;
    /* border: 4px solid yellow; */
    white-space: nowrap;

}

.center .child .top .child {
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;


}


.center .child .top .child div {
    height: 90px;
    width: 90px;
    background-color: white;
    display: inline-block;
    border-radius: 45px;



}

.center .child .top .child div img {
    height: 100%;
    width: 100%;
    border-radius: 45px;
}

.center .child .top .child div p {
    text-align: center;
}

.center .child .body {
    height: 100%;
    /* border: 4px solid purple; */
    padding: 0 10%;
}

.post-container {
    height: 700px;
    /* border: 4px solid orangered; */
    margin: 30px 0;
}

.post-container .head {
    height: 10%;
    /* border: 4px solid lime; */
}

.fa-check-circle {
    color: blue;
}

.head-write-up img {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    float: left;

}

.head-write-up p {
    float: left;
    padding: 20px 10px;
}

.post-container .middle {
    height: 70%;
    /* border: 4px solid purple; */
}

.post-container .middle img {
    height: 100%;
    width: 100%;
    object-fit: cover;
   
}

.post-container .bottom {
    height: 20%;
    /* border: 4px solid white; */
}

.post-container .bottom .bottom-write-up {
    padding: 20px 0;

}





.right {
    height: 800px;
    /* border: 4px solid white; */
    float: left;
    padding: 10px 60px;
}

.right .child {
    height: 100%;
    /* border: 4px solid green ; */
}

.notification-container {
    height: 100px;
    /* border: 4px solid purple; */

}


.notification-left img {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    float: left;
    padding: 0 3px;
}

.notification-left p {
    float: left;
    padding: 4px 0;
}

.notification-left {
    float: left;
    height: 100%;
    padding: 10px 0;
    /* border: 4px solid red; */
}

.notification-right {
    float: left;
    height: 100%;
    /* border: 4px solid yellow; */
    padding: 30px 0;
}

.notification-right p {
    float: right;
    padding: 0 80px;
}

.suggesth2 {
    padding: 15px 0;
}


@media only screen and (max-width: 1300px) {

    * {
        box-sizing: border-box;
    }


    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }

    .center {
        margin-left: 25%;



    }

    .right {
        display: none;
    }



}


@media only screen and (max-width: 800px) {
    * {
        box-sizing: border-box;
    }


    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
    .center {
        margin-left: 0;
        



    }

    .center .child .body {
 
        padding: 0 0;
    }
    .left{
        display: none;
    }
    .right{
        display: none;
    }
}