#searchBar{
    display: block;
}
.video-preview{
    width: 300px;
    display: inline-block;
    margin-right: 230px;
  
    
}



.video-grid{
    display: grid;
    grid-template-columns: 80px 1fr;

}
.Channel-picture{
    display: inline-block;
    
    
}
.video-info{
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

.video-tithle{
    margin: 0;


 
    
}


.Channel-picture img{
    width: 100%;
    height: 80px;
    border-radius: 100%;
}



